@font-face {
	font-family: "monument";
	src: url(MonumentExtended-Regular.otf);
}

@font-face {
	font-family: "akzidenz-bold";
	src: url(akzidenz.ttf);
}

@font-face {
	font-family: "akzidenz";
	src: url(akzidenz-normal.ttf);
}

@font-face {
	font-family: "poppins";
	src: url("Poppins-Regular.ttf");
}

@font-face {
	font-family: "rubik-mono";
	src: url("RubikMono-Regular.ttf");
}

html {
	font-family: "monument";
	--nav-unchecked-color: #7b7f84;
	--nav-checked-color: #1fc368;
	--nav-logo-color: #364e34;
	--nav-bar-color: white;
	--helios-text-color: #f0f4f7;
	background-color: white;
	--form-color: #f0f4f7;
	--invalid-creds-color: #ea542b;
	--form-header-col: #00da87;
}

a {
	text-align: center;
}

.index-bg {
	z-index: -1;
	height: clamp(250px, 66vw, 1800px);
	width: 100%;
	position: absolute;
	margin: -8px;
	object-fit: cover;
	overflow: hidden;
}

.IoTREE-about-bg {
	z-index: -1;
	width: 100%;
	position: absolute;
	object-fit: cover;
	margin: -8px;
	height: clamp(250px, 60vw, 1500px);
}

.navigation-bar {
	top: 0;
	margin: -8px;
	background-color: var(--nav-bar-color);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	min-height: 70px;
	opacity: 80%;
	text-align: center;
	position: sticky;
	align-items: center;
	z-index: 1;
}

.cont1 {
	display: flex;
	justify-content: space-between;
	padding-left: 50px;
	width: 100%;
	align-items: center;
}

.cont2 {
	display: flex;
	text-align: center;
	justify-content: flex-start;
	height: 100%;
}

.cont2-logo {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	min-width: 75px;
	min-height: 45px;
}
.iotree-logo {
	width: 75px;
	height: 45px;
}

.cont3 {
	display: flex;
	justify-content: space-around;
	padding-left: 50px;
	width: 100%;
}

.cont4 {
	display: flex;
	text-align: center;
	justify-content: center;
	width: 100%;
	gap: 40px;
	overflow: hidden;
	align-items: center;
}

.cont5-login-icon {
	display: flex;
	padding-right: 40px;
	align-items: center;
	justify-content: center;
}

.logo {
	font-size: 18px;
	text-decoration: none;
	color: var(--nav-logo-color);
}

.nav-cont {
	font-size: 16px;
	text-decoration: none;
	color: var(--nav-unchecked-color);
	transition:
		color 0.27s ease-out,
		transform 0.27s ease-out;
}

.nav-cont:hover {
	color: var(--nav-checked-color);
	transform: scale(1.05) translateY(-0.5px);
}

nav a.active {
	color: #1fc368;
	font-weight: bold;
}

.login-icon {
	width: 55px;
	height: 55px;
	transition: transform 0.25s ease-out;
}

.login-icon:hover {
	transform: scale(1.07) translateY(-1px);
}

#main-cont {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
	height: clamp(250px, 58vw, 1200px);
	margin-top: 20px;
	margin-left: -8px;
	margin-right: -8px;
	flex-wrap: wrap;
}

.helios-chatbot-pill {
	width: 98.5%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 20px;
	align-items: center;
	opacity: 90%;
	position: fixed;
	z-index: 1;
	top: 75px;
}

.helios {
	width: clamp(36px, 4.2vw, 62px);
	height: clamp(36px, 4.2vw, 62px);
}

.helios-text {
	font-family: "poppins";
	color: var(--helios-text-color);
	letter-spacing: 1px;
	font-size: clamp(12px, 1.25vw, 15px);
}

.mid-area-cont {
	height: 43%;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	left: 0;
}

.socials-pill {
	margin-top: 80px;
	height: 45px;
	rotate: 270deg;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	border-radius: 25px;
	background-color: var(--helios-text-color);
	opacity: 75%;
	overflow: hidden;
	margin-left: -85px;
}

.social-text {
	font-family: "poppins";
	color: var(--nav-unchecked-color);
	margin-left: 20px;
	font-size: clamp(12px, 1.2vw, 16px);
}

.social-media-icons {
	display: flex;
	width: 50%;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.sm-pill {
	width: clamp(58px, 5.8vw, 68px);
	height: clamp(58px, 5.8vw, 68px);
	transition:
		filter 0.17s linear,
		transform 0.27s ease-out;
}

.sm-pill:hover {
	cursor: pointer;
	filter: brightness(0%) saturate(100%) invert(45%) sepia(65%) saturate(400%)
		hue-rotate(90deg) brightness(100%) contrast(95%);
	transform: scale(1.05);
}

.bottom-cont {
	overflow: hidden;
	width: 100%;
	height: 38%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	margin-top: clamp(60px, 7.5vw, 110px);
}

.bottom-cont2-contents {
	width: clamp(800px, 80vw, 1220px);
	height: 100%;
	background: rgba(255, 255, 255, 40%);
	border-radius: 40px;
	display: flex;
	flex-direction: row;
	backdrop-filter: blur(8px);
	flex-wrap: wrap;
}

.bottom-cont3-header {
	width: 42%;
	height: 35%;
	margin-left: 35px;
}

.bottom-header {
	font-family: "monument";
	letter-spacing: 5px;
	color: white;
	font-size: clamp(28px, 3.3vw, 52px);
}

.bottom-cont4-mid-text {
	width: 100%;
	height: 55%;
	display: flex;
	flex-directiction: column;
	flex-wrap: wrap;
}

.bottom-mid-text {
	font-family: "rubik-mono";
	margin-left: clamp(40px, 6.5vw, 110px);
	font-size: clamp(24px, 2.4vw, 34px);
}

.bottom-low-text {
	font-family: "poppins";
	margin-left: 35px;
	letter-spacing: 2px;
	font-size: clamp(16px, 1.8vw, 28px);
	color: var(--nav-logo-color);
}

#about-main-cont {
	margin: 8px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	height: clamp(180px, 50vw, 1300px);
	margin-top: 20px;
}

.about-cont2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 22%;
	width: 100%;
}

.about-cont3-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-cont4-cards {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	gap: clamp(5px, 5vw, 30px);
	width: 90%;
	height: 68%;
	margin-top: clamp(10px, 5vw, 35px);
}

.IoTREE-header {
	font-size: clamp(12px, 2.8vw, 42px);
	color: var(--form-color);
	letter-spacing: 3px;
	font-family: "monument";
}

.card {
	height: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: white;
	opacity: 75%;
	width: 24%;
	border-radius: 75px;
	z-index: 0;
}

.card-image-cont {
	opacity: 100%;
	width: 130%;
}

.About-Icon {
	width: 100%;
	display: flex;
}

.text-content {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
}

.about-us-text {
	font-size: clamp(10px, 0.8vw, 18px);
	width: 100%;
	display: flex;
	overflow: hidden;
}

@media (max-width: 1020px) {
	.navigation-bar {
		background-color: red;
		opacity: 50%;
	}
}
.navigation-bar {
	top: 0;
	margin: -8px;
	background-color: var(--nav-bar-color);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	min-height: 70px;
	opacity: 80%;
	text-align: center;
	position: sticky;
	align-items: center;
	z-index: 1;
}

.cont1 {
	display: flex;
	justify-content: space-between;
	padding-left: 50px;
	width: 100%;
	align-items: center;
}

.cont2 {
	display: flex;
	text-align: center;
	justify-content: flex-start;
	height: 100%;
}

.cont2-logo {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	min-width: 75px;
	min-height: 45px;
}
.iotree-logo {
	width: 75px;
	height: 45px;
}

.cont3 {
	display: flex;
	justify-content: space-around;
	padding-left: 50px;
	width: 100%;
}

.cont4 {
	display: flex;
	text-align: center;
	justify-content: center;
	width: 100%;
	gap: 40px;
	overflow: hidden;
	align-items: center;
}

.cont5-login-icon {
	display: flex;
	padding-right: 40px;
	align-items: center;
	justify-content: center;
}

.logo {
	font-size: 18px;
	text-decoration: none;
	color: var(--nav-logo-color);
}

.nav-cont {
	font-size: 16px;
	text-decoration: none;
	color: var(--nav-unchecked-color);
	transition:
		color 0.27s ease-out,
		transform 0.27s ease-out;
}

.nav-cont:hover {
	color: var(--nav-checked-color);
	transform: scale(1.05) translateY(-0.5px);
}

nav a.active {
	color: #1fc368;
	font-weight: bold;
}

.login-icon {
	width: 55px;
	height: 55px;
	transition: transform 0.25s ease-out;
}

.login-icon:hover {
	transform: scale(1.07) translateY(-1px);
}

@media screen and (min-width: 1921px) {
	#contact-main-cont {
		max-width: 2600px; /* κρατάει το περιεχόμενο πιο "μαζεμένο" */
		margin: 0 auto !important;
		gap: clamp(80px, 6vw, 160px) !important;
	}

	.contact-top-section {
		height: clamp(241px, 14vw, 400px) !important;
	}

	.lets-together-cont {
		width: clamp(421px, 25vw, 710px) !important;
	}

	.lets-together-text {
		font-size: clamp(45px, 2.5vw, 64px) !important;
	}

	.grow-section {
		width: clamp(1351px, 75vw, 2200px) !important;
	}

	.pot-video {
		width: clamp(1351px, 75vw, 2200px) !important;
	}

	.aside-contact-us-cont {
		margin-left: 40px;
		width: clamp(361px, 21vw, 530px) !important;
		height: clamp(75px, 3.9vw, 86px) !important;
	}

	.contact-us-text {
		font-size: clamp(20px, 1.1vw, 28px) !important;
	}

	.contact-footer {
		padding: 20px 60px;
	}

	.wave-animation {
		width: clamp(61px, 3.3vw, 84px) !important;
		height: clamp(61px, 3.3vw, 84px) !important;
	}

	.latest-updates-cont {
		width: clamp(201px, 17.5vw, 470px) !important;
		height: clamp(221px, 20vw, 560px) !important;
	}

	.latest-updates-text {
		font-size: clamp(22px, 1.2vw, 28px) !important;
	}

	.update-text {
		font-family: "poppins";
		font-size: clamp(14px, 0.8vw, 19px) !important;
	}

	.contact-footer {
		width: 69% !important;
		display: flex;
		justify-content: flex-start;
		margin-top: auto;
	}

	.footer-text {
		font-size: 20px !important;
		margin-left: 0px !important;
	}
}

#contact-main-cont {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: clamp(25px, 5vw, 80px);
	flex: 1;
	margin: 0 auto;
}

.contact-top-section {
	width: 100%;
	height: clamp(400px, 15vw, 600px);
	margin-top: clamp(200px, 2.5vw, 250px);
	display: flex;
	justify-content: flex-start;
	gap: clamp(20px, 3.5vw, 80px);
	overflow: hidden;
	align-items: center;
}

.lets-together-cont {
	width: clamp(500px, 60vw, 600px);
	height: clamp(350px, 12vw, 400px);
	height: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-left: 100px;
	border-radius: 30px;
	border: 2px solid transparent;
	backdrop-filter: blur(8px);
	box-shadow:
		inset 0 -5px 20px hsla(0, 0%, 0%, 0.4),
		inset 0 5px 20px hsla(0, 0%, 100%, 0.4);
	background: transparent;
}

.lets-together-cont:hover {
	animation: bubbly 1.5s linear infinite;
}

@keyframes bubbly {
	25% {
		rotate: 3deg;
	}
	50% {
		rotate: -3deg;
		color: var(--nav-checked-color);
	}

	75% {
		rotate: 3deg;
		color: var(--nav-checked-color);
	}

	90% {
		rotate: -3deg;
		transform: scale(1.04);
	}
}

.lets-together-cont:before {
	content: "";
	position: absolute;
	left: 20px;
	right: 20px;
	top: 5px;
	height: 30px;
	border-radius: 35px;
	background: linear-gradient(hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0));
}

.lets-together-cont:after {
	content: "";
	position: absolute;
	left: 20px;
	right: 20px;
	top: calc(100% - 36px);
	rotate: 180deg;
	height: 30px;
	border-radius: 35px;
	background: linear-gradient(hsla(0, 0%, 100%, 0.4), hsla(0, 0%, 100%, 0));
}

.lets-together-text {
	font-size: clamp(38px, 2.7vw, 44px);
	text-align: center;

}

.grow-section {
	width: 100%;
	max-width: 1350;
	margin: 50px auto; /* replaces margin-left & margin-right */
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
	margin-top: 50px;
	font-family: "monument";
}

.pot-video {
	width: 100%;
	height: auto;
	object-fit: cover;
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 200'%3E%3Ctext x='50%25' y='50%25' dominant-baseline='middle' text-anchor='middle' font-family='Arial Black' font-size='120' font-weight='900' letter-spacing='8'%3EGROW%3C/text%3E%3C/svg%3E")
		no-repeat center;
	mask-size: contain;
}

.contact-mid-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 300px;
}

.aside-contact-us-cont {
	margin-left: 100px;
	width: clamp(240px, 24.5vw, 360px);
	background-color: #edf1f5;
	border-radius: 32px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: 0px 2px 10px 0px black;
}

.contact-us-text {
	font-size: clamp(14px, 1.5vw, 20px);
}

.wave-animation {
	width: clamp(50px, 3.5vw, 60px);
	height: clamp(50px, 3.5vw, 60px);
	transition:
		transform 0.4s ease-out,
		filter 0.27s linear;
}

.wave-animation:hover {
	transform: scaleY(1.12) scaleX(1.22);
	filter: brightness(1.3) saturate(80%) sepia(10%);
}

.contact-mid-section2 {
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.latest-updates-cont {
	width: clamp(200px, 15vw, 260px);
	height: clamp(220px, 16vw, 280px);
	margin-top: clamp(30px, 15vw, 50px);
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	word-break: break-word;
	padding: 15px;
	border: 1px solid transparent;
	backdrop-filter: blur(8px);
	box-shadow:
		inset 0 -5px 20px hsla(0, 0%, 0%, 0.4),
		inset 0 5px 20px hsla(0, 0%, 100%, 0.4);
	background: transparent;
}

.latest-updates-cont:before {
	content: "";
	position: absolute;
	left: 20px;
	right: 20px;
	top: 5px;
	height: 30px;
	border-radius: 35px;
	background: linear-gradient(hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0));
}

.latest-updates-cont:after {
	content: "";
	position: absolute;
	left: 20px;
	right: 20px;
	top: calc(100% - 36px);
	rotate: 180deg;
	height: 30px;
	border-radius: 35px;
	background: linear-gradient(hsla(0, 0%, 100%, 0.4), hsla(0, 0%, 100%, 0));
}

.latest-updates-text {
	text-align: center;
	font-size: clamp(12px, 1.1vw, 18px);
	letter-spacing: 1px;
}

.update-text {
	font-family: "poppins";
	font-size: 10px;
}

.contact-footer-main-cont {
	flex-direction: column;
	bottom: 0;
	width: 98%;
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
}

.contact-footer {
	width: 98%;
	display: flex;
	justify-content: flex-start;
	margin-top: auto;
}

.footer-text {
	font-size: clamp(7px, 0.75vw, 11px);
	letter-spacing: 2px;
	margin-left: 30px;
}

@media (max-width: 1020px) {
	.navigation-bar {
		background-color: red;
		opacity: 50%;
	}
}

